[Unit]
Description=Clash Daemon
After=network.target

[Service]
Type=simple
ExecStart=bash -c "cd /opt/clash && ./clash-linux-amd64 -d . > /opt/clash/clash.log"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
