[Unit]
Description=Clash
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=bash -c "cd /opt/clash && ./clashpremium-linux-armv8 -d . > /home/ubuntu/clash/clash.log"
Restart=always
RestartSec=5s
#StandardOutput=journal+console
#StandardError=journal+console

[Install]
WantedBy=multi-user.target
